<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7T80nDMNy7oAkxZiw9aEVegc3eFVCPRM</string>
	<key>GCM_SENDER_ID</key>
	<string>63114981432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.news.travelSpan</string>
	<key>PROJECT_ID</key>
	<string>travel-span-6f92b</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-span-6f92b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63114981432:ios:9729179d0f1a87ff42f6cd</string>
</dict>
</plist>